html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}

.tweetContent {
    padding: 5px 40px 30px;
}

.tweetContent md-icon.avatar {
    margin-top: 10px;
}

.tweetContent img {
    display: block;
    height: auto;
    max-width: 500px;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

side-nav-header {
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
}

.ng-tag-cloud span {
    cursor: pointer;
}

.wordCloud {
    display: table-cell;
}

.tweetSentences {
    display: table-cell;
    padding-left: 30px;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
}

.ng-cloak {
    display: none !important;
}